.highlight {
    color: darkblue;
    text-align: center;

}

.items img {
    width: 70px;
    height: 70px;
    border-radius: 185px;
}

.price {
    color: red;
    font-family: monospace;
}

.itemName{
    color: green;
    font-family: sans-serif;
}

.button {
    width: 35px;
    height: 20px;
       }

.addBtn {
   background-color: paleturquoise;
}

.addWbtn {
    background-color: brown;
}

.greenBg {
    background-color: darkseagreen;
}
.yellowBg {
    background-color: yellow;
}


.paletBg {
    background-color: paleturquoise;
}

.brownBg {
    background-color: brown;
}

.cartLink span {
    color: brown;
}

.wishListLink span {
    color: red;
}

.par1 {
    background-color: brown;
}
.par2 {
    background-color: aqua;
}

.footer {
    margin-top: 40px;
}